<html>
    <head>
        <meta http-equiv=content-type charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/layout.css">
    </head>
    <body>
        <!-- header -->
        <div class="navbar navbar-default" role="navigation" style="margin:0">
        <div class="content_wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">
                aaaaa
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul id="menu" class="nav navbar-nav">
                    <li><a href="./timeline">Timeline</a></li>
                    <li><a href="./keyword">Keyword</a></li>
                    <li><a href="./name">Name</a></li>
                </ul>
            </div>
        </div>
        </div>
        <!-- end header -->
