<!doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">

    <title>Code for Seoul</title>
    <meta name="description" content="Code for Seoul">
    <meta name="author" content="Code for Seoul">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
</head>