.content_wrapper{
    width: 1000px;
    margin: 0 auto;
}

.carousel .item{
    height: 400px;
    overflow: hidden;
}
.carousel .item img{
    width: 100%;
}
#home_wrapper > .yellow{
    background-color: #FFC31D;
    color: #FFF;
}
#home_wrapper > .gray{
    background- #363839;
    color: #FFF;
}

#home_wrapper > div > .content_wrapper{
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    border: none;
    padding: 20px 0 10px;
}
