<% include /static/header.ejs %>
<div id="home_wrapper">
    <!-- single line grid -->
    <div class="yellow">
        <div class="content_wrapper">
            <h1>Hello, World</h1>
            <br />
            <p class="lead">
                This wrapper introduces this service.<br />
                This wrapper introduces this service.<br />
                This wrapper introduces this service.<br />
            </p>
        </div>
    </div>
    <div>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://koreaenactus.org/ver3/img/slider/1.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="http://koreaenactus.org/ver3/img/slider/2.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="http://koreaenactus.org/ver3/img/slider/3.jpg" alt="First slide">
                </div>
            </div>
        </div>
    </div>
    <!-- single line grid -->
    <div class="gray">
        <div class="content_wrapper">
            <h2>Service Decription</h2>
        </div>
    </div>
</div>
<% include /static/footer.ejs %>
