
    <div id="container">
        <header>
            <div id="header-content">
                <h1><a href="#">Bot Test for Code4Youido</a></h1>

                <nav>
                    <!--<ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Portfolio</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>-->
                </nav>
            </div>
        </header>

        <div id="banner">
            <h2>I wanna go home &amp; eat chicken. PLZ let me go</h2>
            <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
            </form>
        </div>
        <!--트윗내용-->
        <div id="content">
            <article>
               <section class="first">
                   <div class="tweet">
                       <img src="" />
                       <p>testest</p>
                   </div>
                   <div class="tweet">
                       <img src="" />
                       <p>testest</p>
                   </div>
                   <div class="tweet">
                       <img src="" />
                       <p>testest</p>
                   </div>
               </section>
                <section class="second">
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                </section>
                <section class="third">
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                </section>
                <section class="fourth">
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                </section>
                <section class="fifth">
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                </section>
                <section class="sixth">
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                    <div class="tweet">
                        <img src="" />
                        <p>testest</p>
                    </div>
                </section>
                

            </article>
        </div>

    </div>
    
    
<% include /ejs/footer.ejs %>
