    <div class="foot">
    	<a href="http://cfy.4scour.com/">우리동네 국회의원 통지표를 받아보세요</a>
    	<p>
    		CODE for SEOUL, Copyright (C) 2014 Code4yeouido all rights reserved
    	</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>